/* Team Section */
#team {
	padding: 100px 0;
}
#team h4 {
	margin: 5px 0;
}
#team .team-img {
	width: 240px;
	height: 240px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption p,h4 {
	/* padding: 10px 0 0 0;
	color: #888; */
    opacity: 100%;
	/* filter: alpha(opacity=50); */
	font-size: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-style: inherit;
    color: black;
    filter: brightness();
}

/* #about h2::before, #about h2::after {
    display: inline-block;
    content: "";
    border-top: .4rem solid rgb(0, 17, 253);
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
} */

/* #team h2::after {
    display: block;
	position: absolute;
	content: "";
	background: linear-gradient(to right, #06fae6 0%, #6372ff 100%);
	height: 4px;
    width: 60px;
    
	bottom: 0;
	margin-left: -30px;
    left: 50%;
} */

#team h2::before, #team h2::after {
    display: inline-block;
    content: "";
    border-top: .4rem solid rgb(12, 27, 245);
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

img {
	display: block;
	margin: auto;
	border-radius: 100%;
	border: 3px solid #919394;
}
