
/* #value {
    background: url("./green.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;      
    /* filter: alpha(opacity=50); */
    /* opacity: 30%; */
/* } */

/* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("your_image.png"); */


/* .background{
    background-image:url('../image/background01.jpg');
    padding:50px;
  } */

.text-center h2 {
    font-size: 40px;
    text-align: center;
    color: black;
}


#value::before {    
    /* align:center; */
    content: "";
    background-image:  url("/images/green.jpg");
    background-size: cover;
    position: absolute;
    background-position: center;
    height: 500px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
}

/* #value { 
    position: relative; 
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  url("/images/green.jpg");
    background-size: cover;
    opacity: 0.5;
} */

/* #value h2::after {
    display: block;
	position: absolute;
	content: "";
	background: linear-gradient(to right, #06fae6 0%, #6372ff 100%);
	height: 4px;
    width: 60px;
	bottom: 0;
	margin-left: -30px;
    left: 50%;
} */

#value h2::before, #value h2::after {
    display: inline-block;
    content: "";
    border-top: .4rem solid rgb(0, 17, 253);
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

#value h4 {
    font-size: 30px;
    text-align: left;
}

#icon {
    /* background: rgb(255, 255, 255); */
    opacity: 100%;
	border-radius: 100%;
	border: 3px solid #00f7ff;
	width: 70px;
    height: 70px;
    padding: 0.6em 0.6em;
}

#caption {
    opacity: 100%;
    font-weight: bold;
    color: black;
}

#content {
    opacity: 100%;
    /* filter: alpha(opacity=50); */
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    position: relative;
    font-style: inherit;
    color: black;
    filter: brightness();
}